<div class="bg-light p-3 text-center">
    <h1>Add Income</h1>
  </div>
  <div class="main-container container my-5 p-4 shadow-sm bg-white rounded">
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <label for="date" class="form-label h4">Date</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" id="date" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="isControlInvalid('date')">date is required.</mat-error>

        </mat-form-field>
      </div>
  
      <div class="form-group mb-4">
        <label for="account" class="form-label h4">Account</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Number</mat-label>
          <input #input type="text" placeholder="Pick one" matInput formControlName="accountType" [matAutocomplete]="auto" (input)="filter()" (focus)="filter()" id="account">
          <mat-autocomplete requireSelection #auto="matAutocomplete">
            @for (option of filteredOptions; track $index) {

              <mat-option  [value]="option">{{ option }}</mat-option>
            }
          </mat-autocomplete>
        <mat-error *ngIf="isControlInvalid('accountType')">accountType is required.</mat-error>

        </mat-form-field>
      </div>
  
      <div class="form-group mb-4">
        <label for="amount" class="form-label h4">Amount</label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" id="amount" />
        <mat-error *ngIf="isControlInvalid('amount')">amount is required.</mat-error>

        </mat-form-field>
      </div>
  
      <div class="text-center">
        <button mat-raised-button color="primary" type="submit" class="px-5" [disabled]="incomeForm.invalid">Submit</button>
      </div>
    </form>
  </div>
  