<div class="main-container container my-5 p-4 shadow-sm bg-white rounded">
    @defer (when dataIsLoad) {

    <h2 class="mb-4">Transactions</h2>
    <form [formGroup]="filterForm" class="d-flex mb-4 gap-3 justify-content-between">
      <mat-form-field appearance="outline" class="">
        <mat-label>Enter  Date Range</mat-label>
        <mat-date-range-input formGroupName="dateRange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel (click)="clearDateRange()">Cancel</button>
            <button mat-raised-button matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
        <mat-error *ngIf="filterForm.get('dateRange.start').hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="filterForm.get('dateRange.end').hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="">
        <mat-label>Search Any Field</mat-label>
        <input matInput formControlName="searchQuery" placeholder="Filter">
      </mat-form-field>
    </form>
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Type</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Account</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (transaction of paginatedData; track $index) {
        <tr >
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.date }}</td>
          <td>
            <span [ngClass]="{
                'type-income': transaction.type === 'Income',
                'type-expense': transaction.type === 'Expense'
            }">
              {{ transaction.type }}
            </span>
          </td>
          <td>{{ transaction.category }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.account }}</td>
          <td>
            <button mat-button color="primary" (click)="editElement(transaction)">Edit</button>
            <button mat-button color="warn" (click)="deleteElement(transaction)">Delete</button>
          </td>
        </tr>
    }

      </tbody>
    </table>
    <mat-paginator [length]="totalItems"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page)="onPageChange($event)">
    </mat-paginator>
}
@placeholder () {
    <ngx-skeleton-loader appearance="line" count="8"/>
  }
  @loading {
    <ngx-skeleton-loader appearance="line" count="8"/>
  
  }
  </div>
  