<div class="main-container container my-5 p-4 shadow-sm bg-white rounded">
    <h2 class="mb-4">Hoverable Table</h2>
    <form [formGroup]="filterForm" class="d-flex mb-4">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input formGroupName="dateRange" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel (click)="clearDateRange()">Cancel</button>
            <button mat-raised-button matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
        <mat-error *ngIf="filterForm.get('dateRange.start').hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="filterForm.get('dateRange.end').hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Search Any Field</mat-label>
        <input matInput formControlName="searchQuery" placeholder="Filter">
      </mat-form-field>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Type</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Account</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of filteredData">
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.date }}</td>
          <td>
            <span [ngClass]="{
                'type-income': transaction.type === 'Income',
                'type-expense': transaction.type === 'Expense'
            }">
              {{ transaction.type }}
            </span>
          </td>
          <td>{{ transaction.category }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.account }}</td>
          <td>
            <button mat-button color="primary">Edit</button>
            <button mat-button color="warn">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  