<div class="container mt-3">
  <form [formGroup]="searchForm" class="d-flex justify-content-between">
    <mat-form-field>
      <input matInput placeholder="Search" formControlName="filterText">
    </mat-form-field>
    <button mat-fab color="primary" (click)="openDialog()" class="mb-3">
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <mat-accordion>
    @for (category of filteredCategories; track $index) {
    
    <mat-expansion-panel  [expanded]="category.isOpen">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>category</mat-icon>
          {{ category.name }}
        </mat-panel-title>
        <mat-panel-description *ngIf="category.section == 'Income' || category.section == 'Expenses'">
          <!-- <button mat-button (click)="deleteCategory(category.id)">Delete</button>
          <button mat-button (click)="updateCategory(category)">Update</button> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="category.subcategories && category.subcategories.length">
        <app-sub-category [subcategories]="category.subcategories"></app-sub-category>
      </div>
    </mat-expansion-panel>
  }
  </mat-accordion>
</div>
  