<div class=" p-3 text-center">
  <h1>Add Category</h1>
</div>
<div class="container mt-3">
  <form [formGroup]="searchForm" class="d-flex justify-content-between">
    <mat-form-field appearance="outline" class=" mr-3">
      <input matInput placeholder="Search" formControlName="filterText">
    </mat-form-field>
    <button mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <mat-tab-group mat-stretch-tabs class="mt-3 custom-tab-group">
    @for (category of filteredCategories; track $index) {
      <mat-tab label="{{ category.name }}">
        <ng-template matTabContent>
          @if (category.subcategories && category.subcategories.length) {

              <app-sub-category [subcategories]="category.subcategories"></app-sub-category>
          }
        </ng-template>
      </mat-tab>
    }
  </mat-tab-group>
</div>
