<div class="feature-section" data-aos="fade-up" data-aos-duration="3000">
    <mat-card class="feature-card">
      <div class="feature-icon">
        <mat-icon>account_balance_wallet</mat-icon>
      </div>
      <div class="feature-content">
        <h3>Have perfect control</h3>
        <p>over all your cash expenses, bank accounts, E-Wallets and crypto wallets.</p>
      </div>
    </mat-card>
  
    <mat-card class="feature-card">
      <div class="feature-icon">
        <mat-icon>pie_chart</mat-icon>
      </div>
      <div class="feature-content">
        <h3>Get a quick overview</h3>
        <p>about your total incomes and expenses at a glance and in one place.</p>
      </div>
    </mat-card>
  
    <mat-card class="feature-card">
      <div class="feature-icon">
        <mat-icon>savings</mat-icon>
      </div>
      <div class="feature-content">
        <h3>Use our smart budgets</h3>
        <p>to save money for a new car, dreamy vacation or top university.</p>
      </div>
    </mat-card>
  </div>
  