<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened>
      <mat-toolbar color="primary" routerLink="" >Personal Finance Tracker</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/transactions']" routerLinkActive="router-link-active" >Transactions</a>
        <a mat-list-item [routerLink]="['/addExpenses']">Expenses</a>
        <a mat-list-item routerLink="/accounts">Accounts</a>
        <a mat-list-item routerLink="/incomes">Incomes</a>
        <a mat-list-item routerLink="/transfers">Amount Transfers</a>
        <a mat-list-item routerLink="/reminders">Reminders</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Personal Finance Tracker</span>
        <span class="spacer"></span>
        <button mat-button>
          <mat-icon>subscriptions</mat-icon> Subscription
        </button>
        <button mat-button>
          <mat-icon>edit</mat-icon> Edit this application
        </button>
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
          <img src="https://robohash.org/mail@ashallendesign.co.uk" alt="User Avatar" class="user-avatar">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Profile</button>
          <button mat-menu-item>Logout</button>
        </mat-menu> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  